*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth; /* added this for smooth scrolling  */
}

body {
  background-color: #f3e2d4;
  font-family: "Mozilla Headline", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-top: 5rem;
}

input,
button,
textarea,
select {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  display: inline;
}

p {
  font-family: "Inter", sans-serif;
}

/*above were all the default styles i set and below will be the custom ones*/

.title {
  font-size: 2.5rem;
}

.main-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.explanation-p {
  font-size: 0.9rem;
}
